---
layout: default
---


<section>
    <div class="section-title">
        <h2><span>{{ page.name }}</span></h2>
    </div>

    <div class="article-post">
    {{content}}
    </div>


    <h2>Posts</h2>
    <ul>
      {% assign filtered_posts = site.posts | where: 'author', page.short_name %}
      {% for post in filtered_posts %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>

<!-- 

    {% if page.comments == true %}

    <div id="comments" class="row mb-5">
        <div class="col-md-8">
            {% include disqus.html %}
        </div>
    </div>

    {% endif %} -->
</section>